*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inclusive Sans", sans-serif;
}
